* {
    font-size: 100%;
    font-family: ProximaNova;
   }
#project-select-container > h3, #project-select-container > ul {
    padding: 12px;
}
#project-title {
    margin-bottom: 6px;
}
#back-to-projects-icon > svg {
    margin-bottom: 5px;
}
#project-image-container {
    position: relative;
}
#project-image-canvas {
    max-width: 800px;
}
#project-text-container {
    left: 0px;
    top: 0px;
    z-index: 1000;
}
.vertical-input {
    writing-mode: initial;
    /* transform: rotate(90deg);
    transform-origin: top left; */
}
.vertical-style {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    /* text-orientation: upright; */
    text-align: initial;
    font-weight: 400;
}
.active-textbox {
    color: hotpink;
}
rb, rt {
    display: inline;
    line-height: 1;
}
ruby > rt {
    display: block;
    font-size: 50%;
    text-align: start;
}
@font-face {
    font-family: ProximaNova;
    src: url(static/ProximaNova-Light-webfont.woff);
  }